body {
  font-family: "Avenir", Arial, sans-serif;
  font-size: 20px;
  color: black;
  margin: 20px;
}

a {
  color: deeppink;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.content {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  touch-action: manipulation;
}


.keys {
  width: 60px;
  height: 60px;
  font-size: 20px;
  margin: 10px;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  touch-action: manipulation;
  background-color: white;
  text-align: center;
}

.keys:hover, .keys:active {
  background-color: deepskyblue;
  color: white;
  cursor: pointer;
}
