body {
  font-family: "Avenir", Arial, sans-serif;
  font-size: 20px;
  background-color: white;
  color: black;
}

.content {
  text-align: center;
}


button {
  width: 60px;
  height: 60px;
  background-color: white;
  font-size: 30px;
  margin: 10px;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

.bass > button {
  margin-left: 3px;
  margin-right: 3px;
}

button:hover {
  background-color: black;
  color: white;
  border-color: grey;
  cursor: pointer;
}
